<div>
  <h2 id="page-heading" data-cy="ConsultasAgendaHeading">
    <span jhiTranslate="tccSmartHealthControlApp.consultasAgenda.home.title">Consultas Agenda</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tccSmartHealthControlApp.consultasAgenda.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-consultas-agenda"
        [routerLink]="['/consultas-agenda/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tccSmartHealthControlApp.consultasAgenda.home.createLabel"> Create a new Consultas Agenda </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="consultasAgenda?.length === 0">
    <span jhiTranslate="tccSmartHealthControlApp.consultasAgenda.home.notFound">No consultasAgenda found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="consultasAgenda && consultasAgenda.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="agendamentoData">
            <span jhiTranslate="tccSmartHealthControlApp.consultasAgenda.agendamentoData">Agendamento Data</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="usuariosSaude.usuarioNome">
            <span jhiTranslate="tccSmartHealthControlApp.consultasAgenda.usuariosSaude">Usuarios Saude</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="setorSaude.setorSaude">
            <span jhiTranslate="tccSmartHealthControlApp.consultasAgenda.setorSaude">Setor Saude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="entidadeSaude.entidadeNome">
            <span jhiTranslate="tccSmartHealthControlApp.consultasAgenda.entidadeSaude">Entidade Saude</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let consultasAgenda of consultasAgenda; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/consultas-agenda', consultasAgenda.id, 'view']">{{ consultasAgenda.id }}</a>
          </td>
          <td>{{ consultasAgenda.agendamentoData | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="consultasAgenda.usuariosSaude">
              <a [routerLink]="['/usuarios-saude', consultasAgenda.usuariosSaude?.id, 'view']">{{
                consultasAgenda.usuariosSaude?.usuarioNome
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="consultasAgenda.setorSaude">
              <a [routerLink]="['/setor-saude', consultasAgenda.setorSaude?.id, 'view']">{{ consultasAgenda.setorSaude?.setorSaude }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="consultasAgenda.entidadeSaude">
              <a [routerLink]="['/entidade-saude', consultasAgenda.entidadeSaude?.id, 'view']">{{
                consultasAgenda.entidadeSaude?.entidadeNome
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/consultas-agenda', consultasAgenda.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/consultas-agenda', consultasAgenda.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(consultasAgenda)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
