<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="estados">
      <h2 data-cy="estadosDetailsHeading"><span jhiTranslate="tccSmartHealthControlApp.estados.detail.title">Estados</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ estados.id }}</span>
        </dd>
        <dt><span jhiTranslate="tccSmartHealthControlApp.estados.estadosNome">Estados Nome</span></dt>
        <dd>
          <span>{{ estados.estadosNome }}</span>
        </dd>
        <dt><span jhiTranslate="tccSmartHealthControlApp.estados.estadosSigla">Estados Sigla</span></dt>
        <dd>
          <span>{{ estados.estadosSigla }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/estados', estados.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
