<div>
  <h2 id="page-heading" data-cy="EntidadeSaudeHeading">
    <span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.home.title">Entidade Saudes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entidade-saude"
        [routerLink]="['/entidade-saude/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.home.createLabel"> Create a new Entidade Saude </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="entidadeSaudes?.length === 0">
    <span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.home.notFound">No entidadeSaudes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="entidadeSaudes && entidadeSaudes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.entidadeNome">Entidade Nome</span></th>
          <th scope="col"><span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.entidadeSetor">Entidade Setor</span></th>
          <th scope="col"><span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.entidadeEndereco">Entidade Endereco</span></th>
          <th scope="col"><span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.saudeTipo">Saude Tipo</span></th>
          <th scope="col"><span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.estados">Estados</span></th>
          <th scope="col"><span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.cidades">Cidades</span></th>
          <th scope="col"><span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.tiposProcedimento">Tipos Procedimento</span></th>
          <th scope="col"><span jhiTranslate="tccSmartHealthControlApp.entidadeSaude.profissionais">Profissionais</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entidadeSaude of entidadeSaudes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entidade-saude', entidadeSaude.id, 'view']">{{ entidadeSaude.id }}</a>
          </td>
          <td>{{ entidadeSaude.entidadeNome }}</td>
          <td jhiTranslate="{{ 'tccSmartHealthControlApp.SetorEntidade.' + entidadeSaude.entidadeSetor }}">
            {{ entidadeSaude.entidadeSetor }}
          </td>
          <td>{{ entidadeSaude.entidadeEndereco }}</td>
          <td>
            <div *ngIf="entidadeSaude.saudeTipo">
              <a [routerLink]="['/saude-tipo', entidadeSaude.saudeTipo?.id, 'view']">{{ entidadeSaude.saudeTipo?.tipoIdentificacao }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="entidadeSaude.estados">
              <a [routerLink]="['/estados', entidadeSaude.estados?.id, 'view']">{{ entidadeSaude.estados?.estadosSigla }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="entidadeSaude.cidades">
              <a [routerLink]="['/cidades', entidadeSaude.cidades?.id, 'view']">{{ entidadeSaude.cidades?.cidadeNome }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let tiposProcedimento of entidadeSaude.tiposProcedimentos; let last = last">
              <a class="form-control-static" [routerLink]="['/tipos-procedimento', tiposProcedimento.id, 'view']">{{
                tiposProcedimento.procedimentoNome
              }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let profissionais of entidadeSaude.profissionais; let last = last">
              <a class="form-control-static" [routerLink]="['/profissionais', profissionais.id, 'view']">{{
                profissionais.profissionalNome
              }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entidade-saude', entidadeSaude.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entidade-saude', entidadeSaude.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(entidadeSaude)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
